<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @invoice.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @invoice.last_name %>
</p>

<p>
  <strong>Client:</strong>
  <%= @invoice.client %>
</p>

<p>
  <strong>User:</strong>
  <%= @invoice.user %>
</p>

<p>
  <strong>Contract:</strong>
  <%= @invoice.contract %>
</p>

<p>
  <strong>Property:</strong>
  <%= @invoice.property %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @invoice.due_date %>
</p>

<p>
  <strong>Invoicing date:</strong>
  <%= @invoice.invoicing_date %>
</p>

<p>
  <strong>Paid at:</strong>
  <%= @invoice.paid_at %>
</p>

<p>
  <strong>Cancelled at:</strong>
  <%= @invoice.cancelled_at %>
</p>

<p>
  <strong>Rent collection:</strong>
  <%= @invoice.rent_collection %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
