<p id="notice"><%= notice %></p>

<h1>Property Collections</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Section</th>
      <th>Property</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @property_collections.each do |property_collection| %>
      <tr>
        <td><%= property_collection.amount %></td>
        <td><%= property_collection.section_id %></td>
        <td><%= property_collection.property %></td>
        <td><%= property_collection.user %></td>
        <td><%= link_to 'Show', property_collection %></td>
        <td><%= link_to 'Edit', edit_property_collection_path(property_collection) %></td>
        <td><%= link_to 'Destroy', property_collection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property Collection', new_property_collection_path %>
