<%= form_with(model: [:dashboard, invoice], local: true) do |form| %>
  <% if invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
        <% invoice.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :invoice_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :invoice_last_name %>
  </div>

  <div class="field">
    <%= form.label :client_id %>
    <%= form.select :client_id, current_user.clients.map {|client| [client.full_name, client.id]}, id: :invoice_client_id %>
  </div>

  <div class="field">
    <%= form.label :contract_id %>
    <%= form.select :contract_id, current_user.contracts.map {|contract| [contract.unit_name, contract.id]}, id: :invoice_contract_id %>
  </div>

  <div class="field">
    <%= form.label :property_id %>
    <%= form.select :property_id, current_user.properties.map {|property| [property.name, property.id]}, id: :invoice_property_id %>
  </div>

  <div class="field">
    <%= form.label :due_date %>
    <%= form.datetime_select :due_date, id: :invoice_due_date %>
  </div>

  <div class="field">
    <%= form.label :invoicing_date %>
    <%= form.datetime_select :invoicing_date, id: :invoice_invoicing_date %>
  </div>

  <div class="field">
    <%= form.label :paid_at %>
    <%= form.datetime_select :paid_at, id: :invoice_paid_at %>
  </div>

  <div class="field">
    <%= form.label :cancelled_at %>
    <%= form.datetime_select :cancelled_at, id: :invoice_cancelled_at %>
  </div>

  <div class="field">
    <%= form.label :rent_collection_id %>
    <%= form.select :rent_collection_id, current_user.rent_collections.map {|rent| [rent.name, rent.id]}, id: :invoice_rent_collection_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
