<div class="container">
  <h5 class="pink-text">Properties&nbsp;
    <a href="<%= url_for(controller: 'dashboard/properties', action: 'new') %>" class="btn btn-floating btn-large pink pulse right"><i class="material-icons">add</i></a>
  </h5>
  <br />
  <ul class="collection">
    <% @properties.each do |property| %>
      <li class="collection-item avatar">
        <a href="<%= url_for(controller: 'dashboard/properties', action: 'show', id: property) %>">
          <i class="material-icons circle">folder</i>
          <span class="title pink-text text-darken-1"><%= property.name %></span>
          <p class="pink-text text-darken-3">
            <%= property.code %>
          </p>
          <a href="<%= url_for(controller: 'dashboard/properties', action: 'destroy', id: property) %>" data-method="delete" data-confirm="Are you sure you want to delete your property", class="secondary-content pink-text"><i class="material-icons">close</i></a>
        </a>
      </li>
    <% end %>
  </ul>
  <br />
</div>