<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="row center">
    <a href="<%= url_for(controller: 'dashboard/properties', action: 'edit', id: @property) %>" class="btn btn-floating btn-large pink pulse"><i class="material-icons">edit</i></a>
    <a href="<%= url_for(controller: 'dashboard/properties', action: 'index') %>" class="btn btn-floating btn-large pink pulse"><i class="material-icons">list</i></a>
    <a href="<%= url_for(controller: 'dashboard/properties', action: 'new') %>" class="btn btn-floating btn-large pink pulse"><i class="material-icons">add</i></a>
  </div>

  <div class="row center">
    <h1 class="pink-text"><%= @property.name %></h1>
    <h3 class="pink-text"><%= @property.code %></h3>
  </div>

  <div class="row center">
    <a href="#!" class="btn btn-large pink">Add Client(Who rented)</a>
  </div>
</div>
