<div class="container">
  <div class="row center">
    <div class="col s12 m4">
      <div class="card pink darken-1">
        <div class="card-content white-text">
          <span class="card-title">Manage Properties</span>
          <p class="dashboard-item-counter"><%= current_user.properties.count %></p>
        </div>
        <div class="card-action center">
          <a href="<%= url_for(controller: 'dashboard/properties', action: :index) %>">Property/Apartment List</a><br/>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card pink darken-1">
        <div class="card-content white-text">
          <span class="card-title">Manage Clients</span>
          <p class="dashboard-item-counter"><%= current_user.clients.count %></p>
        </div>
        <div class="card-action center">
          <a href="<%= url_for(controller: 'dashboard/property/clients', action: :index) %>">Renter List</a><br/>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card pink darken-1">
        <div class="card-content white-text">
          <span class="card-title">Manage Rents</span>
          <p class="dashboard-item-counter"><%= current_user.contracts.count %></p>
        </div>
        <div class="card-action center">
          <a href="<%= url_for(controller: 'dashboard/contracts') %>">Rent List</a><br/>
        </div>
      </div>
    </div>
  </div>
  <div class="row center">
    <div class="col s12 m4">
      <div class="card pink darken-1">
        <div class="card-content white-text">
          <span class="card-title">Manage Payments</span>
          <p class="dashboard-item-counter"><%= current_user.rent_collections.sum(:fee_cents) %></p>
        </div>
        <div class="card-action center">
          <a href="#">Payments</a><br/>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card pink darken-1">
        <div class="card-content white-text">
          <span class="card-title">SMS</span>
          <p class="dashboard-item-counter"><%= current_user.sms_account.try(:amount) || 0 %></p>
        </div>
        <div class="card-action center">
          <a href="<%= url_for(controller: 'dashboard/sms_accounts', action: :show) %>">SMS</a><br/>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card pink darken-1">
        <div class="card-content white-text">
          <span class="card-title">Invoicing</span>
          <p class="dashboard-item-counter"><%= current_user.invoices.count %></p>
        </div>
        <div class="card-action center">
          <a href="<%= url_for(controller: 'invoices', action: 'index') %>">Manage Invoice</a><br/>
        </div>
      </div>
    </div>
  </div>
</div>