<%= form_with(model: [:dashboard, rent_collection], local: true) do |form| %>
  <% if rent_collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rent_collection.errors.count, "error") %> prohibited this dashboard_rent_collection from being saved:</h2>

      <ul>
      <% rent_collection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :name %><br />
    <%= form.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= form.label :contract %><br />
    <%= form.select :section_id, Section.all.map {|section| [section.name, section.id]} ,autofocus: true %>
  </div>

  <div class="field">
    <%= form.label :section %><br />
    <%= form.select :clients_properties_id, current_user.contracts.map {|section| [section.unit_name, section.id]} ,autofocus: true %>
  </div>

  <div class="field">
    <%= form.label :fee_cents %><br />
    <%= form.text_field :fee_cents, autofocus: true %>
  </div>

  <div class="field">
    <%= form.label :property %><br />
    <%= form.select :property_id, current_user.properties.map {|property| [property.name, property.id]} ,autofocus: true %>
  </div>

  <div class="actions">
    <%= form.submit nil, class: 'btn' %>
  </div>
<% end %>
