<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @property_collection.amount %>
</p>

<p>
  <strong>Section:</strong>
  <%= @property_collection.section_id %>
</p>

<p>
  <strong>Property:</strong>
  <%= @property_collection.property %>
</p>

<p>
  <strong>User:</strong>
  <%= @property_collection.user %>
</p>

<%= link_to 'Edit', [:dashboard, edit_property_collection_path(@property_collection)] %> |
<%= link_to 'Back', [:dashboard, property_collections_path] %>
