<%= form_with(model: [:dashboard, contract], local: true) do |form| %>
  <% if contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contract.errors.count, "error") %> prohibited this dashboard_contract from being saved:</h2>

      <ul>
      <% contract.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :client %><br />
    <%= form.select :client_id, current_user.clients.map {|client| [client.full_name, client.id]} ,autofocus: true %>
  </div>

  <div class="field">
    <%= form.label :property %><br />
    <%= form.select :property_id, current_user.properties.map {|property| [property.name, property.id]} ,autofocus: true %>
  </div>

  <div class="field">
    <%= form.label :property_unit %><br />
    <%= form.select :property_unit, PropertyUnit.all.map {|unit| [unit.name, unit.id]}, autofocus: true %>
  </div>

  <div class="field">
    <%= form.label :contract_period %><br />
    <%= form.select :contract_period, 1..120, autofocus: true %>
  </div>

  <div class="field">
    <%= form.label :start_date %><br />
    <%= form.text_field :start_date, autofocus: true, class: 'datepicker' %>
  </div>

  <div class="actions">
    <%= form.submit nil, class: 'btn pink' %>
  </div>
<% end %>
