<div class="container">
  <h5 class="pink-text">Rent List&nbsp;
    <a href="<%= url_for(controller: 'dashboard/contracts', action: 'new') %>" class="btn btn-floating btn-large pink pulse right"><i class="material-icons">add</i></a>
  </h5>
  <br />
  <ul class="collection">
    <% @contracts.each do |contract| %>
      <li class="collection-item avatar">
        <a href="<%= url_for(controller: 'dashboard/contracts', action: 'show', id: contract) %>">
          <i class="material-icons circle">folder</i>
          <span class="title pink-text text-darken-1"><%= contract.unit_name %></span>
          <p class="pink-text text-darken-3">
            Contract Period: <%= contract.contract_period %>
          </p>
          <a href="<%= url_for(controller: 'dashboard/contracts', action: 'destroy', id: contract) %>" data-method="delete" data-confirm="Are you sure you want to delete your property", class="secondary-content pink-text"><i class="material-icons">close</i></a>
        </a>
      </li>
    <% end %>
  </ul>
  <br />
</div>