<p id="notice"><%= notice %></p>

<h1>Dashboard Contracts</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dashboard_contracts.each do |dashboard_contract| %>
      <tr>
        <td><%= link_to 'Show', dashboard_contract %></td>
        <td><%= link_to 'Edit', edit_dashboard_contract_path(dashboard_contract) %></td>
        <td><%= link_to 'Destroy', dashboard_contract, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dashboard Contract', new_dashboard_contract_path %>
