<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="row center">
    <a href="<%= url_for(controller: 'dashboard/contracts', action: 'edit', id: @contract) %>" class="btn btn-floating btn-large pink pulse"><i class="material-icons">edit</i></a>
    <a href="<%= url_for(controller: 'dashboard/contracts', action: 'index') %>" class="btn btn-floating btn-large pink pulse"><i class="material-icons">list</i></a>
    <a href="<%= url_for(controller: 'dashboard/contracts', action: 'new') %>" class="btn btn-floating btn-large pink pulse"><i class="material-icons">add</i></a>
  </div>

  <div class="row center">
    <p class="pink-text">Renter Name: <%= @contract.client.full_name %></p>
    <p class="pink-text">Unit Name: <%= @contract.property_unit.name %></p>
    <p class="pink-text">Contract Period: <%= @contract.contract_period %> Months</p>
    <p class="pink-text">Start Date: <%= @contract.start_date %></p>
  </div>

  <div class="row center">
    <a href="<%= url_for(controller: 'dashboard/rent_collections', contract_id: @contract, action: :new) %>" class="btn btn-large pink">Collect Rent</a>
  </div>
</div>
