<nav role="navigation">
  <div class="nav-wrapper container">
    <%= link_to 'Renter', root_path, class: 'brand-logo' %>
    <ul class="right hide-on-med-and-down">
      <%- if current_user %>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Properties', "#" %></li>
        <li><%= link_to 'Sign Out', "#" %></li>
        <li><%= link_to 'About', '#' %></li>
      <% else %>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Submit Request', "#" %></li>
        <li><%= link_to 'Sign In', "#" %></li>
        <li><%= link_to 'About', '#' %></li>
      <% end %>
    </ul>
    <ul id="nav-mobile" class="side-nav">
      <%- if current_user %>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Properties', "#" %></li>
        <li><%= link_to 'Sign Out', "#" %></li>
        <li><%= link_to 'About', '#' %></li>
      <% else %>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Submit Request', "#" %></li>
        <li><%= link_to 'Sign In', "#" %></li>
        <li><%= link_to 'About', '#' %></li>
      <% end %>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>